@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
@import "tailwindcss";

body {
  background: #a6d6fd;
  color: white;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    #0b0c79 0%,
    rgba(166, 214, 253, 0.85) 100vh,
    rgba(166, 214, 253, 0) 50vh
  );
}